@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


*{
padding: 0%;
margin: 0%;
box-sizing: border-box;
text-decoration: none;
border: none;
outline: none;
transition: .3s linear;
font-family: "Montserrat", sans-serif;

}


:root{


--black: #111;
--black2: #333;
--orange: #f65718;
--white: #eee;
--borderRadius: .5rem;
--orange-2: #f1aa11;


}


header{

padding: 2.5rem 15%;
background: var(--orange-2);
display: flex;
justify-content: space-between;
align-items: center;


}

.logo a{

font-weight: bold;
font-size: 2rem;
color: var(--white);

}

.logo span{

background: var(--orange);
border-radius: .5rem;
padding: .3rem .6rem;
color: var(--black);

}

.navbtn a{

color: var(--black2);
font-weight: bold;
font-size: 1.2rem;
background: var(--orange-2);
padding: .5rem .8rem;
margin-left: 1rem;
border-radius: .5rem;
font-weight: bold;
cursor: pointer;

}

.navbtn a:hover{

color: var(--white);
box-shadow: 0 0 0 45px inset var(--black2);
transition: .5s linear;

}

.sakums{

padding: 6rem 20%;
display: flex;
justify-content: space-between;
align-items: center;
background: var(--orange-2);

}

.logo-2{

color: var(--black2);
font-weight: bold;
font-size: 6rem;

}


.info{

display: flex;
justify-content: center;
flex-direction: column;
color: var(--black2);

}

.info-container{

margin-top: 5rem;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 0 20%;

}


.inf-box{

background: var(--orange-2);
padding: 2rem;
border-radius: var(--borderRadius);
width: 70%;
margin-bottom: 3rem;


}

.inf-box span{

font-weight: bold;

}


.inf-box:first-child {
    align-self: flex-start;
}


#second-box {
    align-self: flex-end;
}


.inf-box:nth-of-type(3) {
    align-self: flex-start;
}

.inf-box h1{

margin-bottom: 3rem;
font-size: 2rem;

}


.inf-box p{

font-size: 1.3rem;
    
}


.line{

background: var(--black2);
width: 100%;
padding: 5rem 0;

}


.line h1{

color: var(--white);
text-align: center;

}


.info img{
    width: 100%;
}

.info-uml{
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    padding: 2rem 15%;
}

.uml-text{
    background: var(--orange-2);
    padding: 2rem;
    width: 25rem;
    border-radius: 2rem;
}

.uml-text h1{

margin-bottom: 1rem;

}


.info-uml img{
    width: 100%;
    max-width: 40rem;
    border: var(--orange-2) 1px solid;
    border-radius: var(--borderRadius);
    margin: 2rem;
}

.uml-block{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 25rem;
    background-color: #131b26;
    padding: 2rem;
    border-radius: var(--borderRadius);
    margin-bottom: 5rem;
    border: var(--orange-2) .2rem solid;
}
.container-virsraksts{
    margin-bottom: 1rem;
}
.container-info{
    font-size: 1.2rem;
    filter: blur(2px);
}

.uml-infos{

background-image: url('image/fons.png');
width: 100%;
height: 100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover;

}

.box-info{
    color: white;
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 5rem;
}

.box-info li{
    margin: 1rem;
}

.container:hover{
    background-color: var(--black);
    cursor: pointer;
    filter: blur(0px);
}

.container:hover .container-info{
    filter: blur(0px);
}

.question {
    margin: 2rem;
    padding: 1rem;
    border-radius: var(--borderRadius);
    border: 2px solid var(--white);
    transition: ease .5s;
    max-width: 35rem;
    width: 100%;
    height: 9rem;
    color: var(--white);
}

.question button{
    color: var(--white);
    background: var(--black2);
    padding: .5rem .8rem;
    margin-right: .5rem;
    margin-top: 1rem;
    border-radius: .5rem;
    font-weight: bold;
    cursor: pointer;
    }

.correct {
    border-color: greenyellow; 
}
.incorrect {
    border-color: red;
}

.box-container{

display: flex;
justify-content: space-between;
align-items: center;

}


.box{

width: 25rem;
height: 30rem;
background: #131b26;
color: var(--white);
padding: 2rem;
border: .2rem solid var(--orange-2);
border-radius: var(--borderRadius);
margin: 0 4rem 10rem 4rem;

}

#sim{

cursor: pointer;

}

.box:hover{

box-shadow: 0 0 15px 0px var(--orange-2),
    0 0 15px 0px var(--orange-2) inset;

}

.box img{

width: 100%;
height: 80%;

}


.box h1{

margin-bottom: 2rem;

}


.blure, .box img{

filter: blur(2px);

}

.blure p{

line-height: 1.5rem;

}

.box:hover .blure, .box:hover img{

filter: blur(0);

}

.test{

background: var(--black2);
padding: 5rem 15%;
height: 100vh;

}

.activity h1, .klass h1{

color: var(--orange-2);
font-size: 2rem;
text-align: center;
margin-bottom: 2rem;

}


.klass h1{

margin-top: 4rem;

}

.test-jautajumi{

display: flex;
justify-content: center;
flex-wrap: wrap;

}

#result{

color: white;
text-align: center;
font-weight: bold;
font-size: 4rem;
margin-top: 3rem;

}

.activity-uml{

width: 100%;
height: 100%;
padding: 8rem 15% 2rem 15%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background: var(--black2);

}

#samllfoto{

width: 80%;
height: 80%;

}


.activity-uml-2{

background-image: url('image/fons\ 22.png');
width: 100%;
height: 100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
padding: 2rem 15% 0 15%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}


.text-uml{

color: var(--white);
width: 70%;
background: var(--orange-2);
padding: 2rem;
border-radius: 2rem;
margin-bottom: 5rem;

}

.text-uml h1{

margin-bottom: 2rem;
text-align: center;

}

.text-uml p{

text-align: center;

}


.img-uml{

margin-bottom: 5rem;
background: var(--black);
padding: 2rem;
border: .2rem solid var(--orange-2);
border-radius: 2rem;
width: 70%;
height: 70%;
display: flex;
justify-content: center;
align-items: center;

}

.img-uml img{

width: 90%;
height: 90%;

}

.img-uml:hover{

box-shadow: 0 0 15px 0px var(--orange-2),
    0 0 15px 0px var(--orange-2) inset;
cursor: pointer;

}

.modal-umlfoto{

position: fixed;
top: 50%;
right: 50%;
transform: translate(50%, -50%);
width: 100%;
height: 100%;
z-index: 2;
background: rgba(0, 0, 0, 70%);
display: none;

}

.modal-umlfoto img{

position: fixed;
top: 50%;
right: 50%;
transform: translate(50%, -50%);
background: var(--black);
padding: 2rem;
border: .2rem solid var(--orange-2);
border-radius: 2rem;
cursor: pointer;

}


.modal-umlfoto.modal-active, #sim-modal.modal-active{

display: block;

}


.sim-modal{

position: fixed;
top: 50%;
right: 50%;
transform: translate(50%, -50%);
width: 100%;
height: 100%;
z-index: 2;
background: rgba(0, 0, 0, 70%);
display: none;

}

.sim-modal .boxx{

width: 35rem;
height: 45rem;
position: fixed;
top: 50%;
right: 50%;
transform: translate(50%, -50%);
background: #131b26;
border: .2rem solid var(--orange-2);
border-radius: var(--borderRadius);
padding: 2rem;
color: var(--white);
cursor: pointer;

}

.sim-modal .boxx h1{

margin-bottom: 2rem;

}

.sim-modal .boxx img{

width: 105%;
height: 85%;

}